body {
  background: url(../Images/bg_a1acca9.jpg) no-repeat;
  overflow: hidden;
}
body .typeArea .header {
  height: 50px;
  width: 100%;
  margin-top: 10px;
  position: relative;
  opacity: 0;
  z-index: 5;
}
body .typeArea .header .logo a {
  height: 122px;
  width: 175px;
  background: url(../Images/175.webp) center center;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
body .typeArea .header ul {
  float: right;
  line-height: 50px;
}
body .typeArea .header ul li {
  float: left;
  margin-right: 12px;
}
body .typeArea .header ul li:nth-child(1) > a {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../Images/top_bar_z_370eeac.png) no-repeat;
  background-position: -247px -152px;
  margin-top: 15px;
  animation: musickey 5s infinite linear;
  transform-origin: center;
}
@keyframes musickey {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body .typeArea .header ul li:nth-child(2) i {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../Images/top_bar_z_370eeac.png) no-repeat;
  background-position: -201px -203px;
  vertical-align: text-bottom;
}
body .typeArea .header ul li:nth-child(2) span {
  margin-left: 5px;
  font-size: 20px;
}
body .typeArea .header ul li:nth-child(2):hover span {
  color: #f3f0e9;
}
body .typeArea .header ul li:nth-child(3) {
  margin-top: 10px;
}
body .typeArea .header ul li:nth-child(4) > a {
  display: block;
  width: 36px;
  height: 36px;
  background: url(../Images/top_bar_z_370eeac.png) no-repeat;
  background-position: -243px -110px;
  margin-top: 7px;
  transition: all .25s;
}
body .typeArea .header ul li:nth-child(4) > a:hover {
  background-position: -244px -72px;
}
body .typeArea .header ul li:nth-child(5) > a {
  display: block;
  width: 36px;
  height: 36px;
  background: url(../Images/top_bar_z_370eeac.png) no-repeat;
  background-position: -205px -110px;
  margin-top: 7px;
  transition: all .25s;
}
body .typeArea .header ul li:nth-child(5) > a:hover {
  background-position: -204px -73px;
}
body .typeArea .header ul li:nth-child(6) > a {
  display: block;
  width: 36px;
  height: 36px;
  background: url(../Images/top_bar_z_370eeac.png) no-repeat;
  background-position: -167px -110px;
  margin-top: 6px;
  transition: all .25s;
}
body .typeArea .header ul li:nth-child(6) > a:hover {
  background-position: -166px -75px;
}
body .typeArea .header ul li:nth-child(7) > a {
  display: block;
  width: 110px;
  height: 35px;
  background: url(../Images/top_bar_z_370eeac.png) no-repeat;
  background-position: -7px -235px;
  margin-top: 8px;
  transition: all .25s;
}
body .typeArea .header ul li:nth-child(7) > a:hover {
  background-position: -124px -235px;
}
body .typeArea .header ul li:nth-child(8) a .inner-1 {
  width: 38px;
  height: 32px;
  background: url(../Images/top_bar_z_370eeac.png) no-repeat;
  background-position: -166px -151px;
  margin-top: 10px;
  transition: all .25s;
  position: relative;
}
body .typeArea .header ul li:nth-child(8) a .inner-1 .text-tieba {
  width: 48px;
  color: #e9e8e0;
  font-size: 12px;
  position: absolute;
  top: 15px;
  right: -2px;
  display: none;
}
body .typeArea .header ul li:nth-child(8) a .inner-1:hover {
  background-position: -206px -151px;
}
body .typeArea .header ul li:nth-child(9) a .inner-2 {
  width: 37px;
  height: 35px;
  background: url(../Images/top_bar_z_370eeac.png) no-repeat;
  background-position: -204px -35px;
  margin-top: 8px;
  transition: all .25s;
  position: relative;
}
body .typeArea .header ul li:nth-child(9) a .inner-2 .text-luntan {
  width: 48px;
  color: #e9e8e0;
  font-size: 12px;
  position: absolute;
  top: 17px;
  right: -7px;
  display: none;
}
body .typeArea .header ul li:nth-child(9) a .inner-2:hover {
  background-position: -165px -35px;
}
body .typeArea .header ul li:nth-child(10) {
  margin-top: 10px;
}
body .typeArea .header ul li:nth-child(11) {
  position: relative;
}
body .typeArea .header ul li:nth-child(11) i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../Images/top_bar_z_370eeac.png) no-repeat;
  background-position: -225px -204px;
  vertical-align: text-bottom;
}
body .typeArea .header ul li:nth-child(11) > a > span {
  margin-left: 5px;
  font-size: 20px;
}
body .typeArea .header ul li:nth-child(11) .share-bar {
  width: 198px;
  height: 26px;
  background: url(../Images/top_bar_z_370eeac.png) no-repeat;
  background-position: 0px -204px;
  position: absolute;
  top: 50px;
  right: 0px;
  text-align: center;
  line-height: 20px;
  display: none;
}
body .typeArea .header ul li:nth-child(11) .share-bar > a {
  font-size: 25px;
  margin-left: 10px;
}
body .typeArea .header ul li:nth-child(11) .share-bar > a:first-child {
  margin-left: 0px;
}
body .typeArea .header ul li:nth-child(11) .share-bar > a:hover {
  color: #f3f0e9;
}
body .typeArea .header ul li:nth-child(11):hover > a > span {
  color: #f3f0e9;
}
body .typeArea .header .QRcode-wx,
body .typeArea .header .QRcode-wb,
body .typeArea .header .QRcode-yx,
body .typeArea .header .QRcode-qq {
  box-sizing: border-box;
  padding: 0 10px;
  width: 156px;
  height: 195px;
  background: url(../Images/top_bar_z_370eeac.png) no-repeat;
  background-position: -5px 0px;
}
body .typeArea .header .QRcode-wx img,
body .typeArea .header .QRcode-wb img,
body .typeArea .header .QRcode-yx img,
body .typeArea .header .QRcode-qq img {
  margin-top: 20px;
}
body .typeArea .header .QRcode-wx h4,
body .typeArea .header .QRcode-wb h4,
body .typeArea .header .QRcode-yx h4,
body .typeArea .header .QRcode-qq h4 {
  margin-top: 5px;
}
body .typeArea .header .QRcode-wx {
  position: absolute;
  top: 50px;
  right: 358px;
  display: none;
}
body .typeArea .header .QRcode-wb {
  position: absolute;
  top: 50px;
  right: 310px;
  display: none;
}
body .typeArea .header .QRcode-yx {
  position: absolute;
  top: 50px;
  right: 260px;
  display: none;
}
body .typeArea .header .QRcode-qq {
  position: absolute;
  top: 50px;
  right: 175px;
  display: none;
}
body .typeArea .bg {
  width: 969px;
  height: 1200px;
  margin: -250px auto 0;
}
body .typeArea .bg .circle {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
}
body .typeArea .bg .circle1,
body .typeArea .bg .circle2,
body .typeArea .bg .circle3,
body .typeArea .bg .circle4,
body .typeArea .bg .circle5,
body .typeArea .bg .circle6,
body .typeArea .bg .center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -30px 0 0 -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
}
body .typeArea .bg .center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -35px 0 0 -35px;
  width: 0px;
  height: 0px;
  border-radius: 0px;
  text-align: center;
  line-height: 70px;
  color: #EAEAEA;
  font-size: 16px;
}
body .typeArea .bg .circle1 {
  animation: circle 9s linear 1s infinite;
}
body .typeArea .bg .circle2 {
  animation: circle 9s linear 1.8s infinite;
}
body .typeArea .bg .circle3 {
  animation: circle 9s linear 3s infinite;
}
@keyframes circle {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(35);
  }
}
body .typeArea .lefttree {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -10;
}
body .typeArea .righttree {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -10;
}
body .typeArea .arrowsdow a {
  width: 65px;
  height: 33px;
  background: url(../Images/index_z_40850eb.png);
  background-position: -91px -265px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin-left: -32.5px;
  animation: arrowsdowkey .5s infinite alternate linear;
  transform-origin: center;
  opacity: 0;
  z-index: 5;
}
@keyframes arrowsdowkey {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
body .typeArea .arrowsdow-up {
  display: none;
}
body .typeArea .arrowsdow-up a {
  width: 57px;
  height: 57px;
  background: url(../Images/index_z_40850eb.png);
  background-position: -405px -204px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin-left: -28.5px;
  animation: arrowsdow-upkey 0.5s infinite alternate linear;
  transform-origin: center;
  z-index: 5;
}
@keyframes arrowsdow-upkey {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
body .typeArea .leftbottom {
  width: 150px;
  height: 200px;
  background: url(../Images/side_btn_arrow_7976565.png) no-repeat;
  background-position: left;
  background-size: contain;
  position: fixed;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  z-index: 5;
}
body .typeArea .leftbottom .reguluslegends {
  position: absolute;
  top: 63px;
  right: 300px;
}
body .typeArea .leftbottom .staryao {
  position: absolute;
  top: 110px;
  right: 300px;
}
body .typeArea .contentPortion {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
body .typeArea .contentPortion #figure {
  width: 1300px;
  height: 525px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  display: flex;
  justify-content: space-around;
}
body .typeArea .contentPortion #figure .flip-container {
  opacity: 0;
  perspective: 1000px;
  width: 133px;
  height: 525px;
  cursor: pointer;
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
body .typeArea .contentPortion #figure .flip-container .front,
body .typeArea .contentPortion #figure .flip-container .back {
  position: absolute;
}
body .typeArea .contentPortion #figure .flip-container .front {
  backface-visibility: hidden;
}
body .typeArea .contentPortion #figure .flip-container .back {
  transform: rotateY(180deg);
}
body .typeArea .contentPortion #figure .flip-container:hover {
  transform: rotateY(180deg);
}
body .typeArea .contentPortion .bigwallpaper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 6;
  display: none;
  opacity: 0;
}
body .typeArea .contentPortion .bigwallpaper li {
  opacity: 0;
}
body .typeArea .contentPortion .bigwallpaper .bashufengguang {
  position: absolute;
  top: 538px;
  left: 454px;
}
@keyframes bigwallpaperkey {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
body .typeArea .contentPortion .bigwallpaper .bashufengguang a .bashufengguang-1 {
  position: absolute;
  top: -24px;
  left: 294px;
  display: none;
  opacity: 0;
}
body .typeArea .contentPortion .bigwallpaper .yunduanxianguan {
  position: absolute;
  top: 81px;
  left: 147px;
}
@keyframes bigwallpaperkey {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
body .typeArea .contentPortion .bigwallpaper .yunduanxianguan a .yunduanxianguan-1 {
  position: absolute;
  top: 33px;
  left: 358px;
  display: none;
  opacity: 0;
}
body .typeArea .contentPortion .bigwallpaper .xieyangwanzhao {
  position: absolute;
  top: 337px;
  left: 338px;
}
@keyframes bigwallpaperkey {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
body .typeArea .contentPortion .bigwallpaper .xieyangwanzhao a .xieyangwanzhao-1 {
  position: absolute;
  top: -29px;
  left: 194px;
  display: none;
  opacity: 0;
}
body .typeArea .contentPortion .bigwallpaper .fuzhoufengwan {
  position: absolute;
  top: 601px;
  left: 250px;
}
@keyframes bigwallpaperkey {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
body .typeArea .contentPortion .bigwallpaper .fuzhoufengwan a .fuzhoufengwan-1 {
  position: absolute;
  top: -24px;
  left: 195px;
  display: none;
  opacity: 0;
}
body .typeArea .contentPortion .bigwallpaper .shenshangucha {
  position: absolute;
  top: 205px;
  left: 595px;
}
@keyframes bigwallpaperkey {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
body .typeArea .contentPortion .bigwallpaper .shenshangucha a .shenshangucha-1 {
  position: absolute;
  top: -52px;
  left: 261px;
  display: none;
  opacity: 0;
}
body .typeArea .contentPortion .bigwallpaper .menghuichangan {
  position: absolute;
  top: 331px;
  left: 939px;
}
@keyframes bigwallpaperkey {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
body .typeArea .contentPortion .bigwallpaper .menghuichangan a .menghuichangan-1 {
  position: absolute;
  top: -19px;
  left: 189px;
  display: none;
  opacity: 0;
}
body .typeArea .contentPortion .bigwallpaper .yanyushanmi {
  position: absolute;
  top: 512px;
  left: 1138px;
}
@keyframes bigwallpaperkey {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
body .typeArea .contentPortion .bigwallpaper .yanyushanmi a .yanyushanmi-1 {
  position: absolute;
  top: -21px;
  left: -594px;
  display: none;
  opacity: 0;
}
body .typeArea .contentPortion .bigwallpaper .guishenzhita {
  position: absolute;
  top: 100px;
  left: 1150px;
}
@keyframes bigwallpaperkey {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
body .typeArea .contentPortion .bigwallpaper .guishenzhita a .guishenzhita-1 {
  position: absolute;
  top: 38px;
  left: -565px;
  display: none;
  opacity: 0;
}
body .typeArea .contentPortion .bigwallpaper .taoyuanyoumeng {
  position: absolute;
  top: 595px;
  left: 853px;
}
@keyframes bigwallpaperkey {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
body .typeArea .contentPortion .bigwallpaper .taoyuanyoumeng a .taoyuanyoumeng-1 {
  position: absolute;
  top: -24px;
  left: 208px;
  display: none;
  opacity: 0;
}
body .typeArea .contentPortion .bigwallpaper .guyunyangzhou {
  position: absolute;
  top: 236px;
  left: 1230px;
}
@keyframes bigwallpaperkey {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
body .typeArea .contentPortion .bigwallpaper .guyunyangzhou a .guyunyangzhou-1 {
  position: absolute;
  top: -3px;
  left: -580px;
  display: none;
  opacity: 0;
}
body .typeArea .contentPortion .slideshow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  display: none;
}
body .typeArea .contentPortion .slideshow .slideshowbox {
  width: 1500px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
body .typeArea .contentPortion .slideshow .slideshowbox > li {
  width: 1500px;
  height: 100%;
  position: absolute;
}
body .typeArea .contentPortion .slideshow .slideshowbox > li > img {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
body .typeArea .contentPortion .slideshow .slideshowbox > li:nth-child(1) {
  background: url(../Images/bsfg_84da809.jpg) no-repeat;
}
body .typeArea .contentPortion .slideshow .slideshowbox > li:nth-child(2) {
  background: url(../Images/ydxg_e80b714.jpg) no-repeat;
}
body .typeArea .contentPortion .slideshow .slideshowbox > li:nth-child(3) {
  background: url(../Images/swmy_0a5cdc9.jpg) no-repeat;
}
body .typeArea .contentPortion .slideshow .slideshowbox > li:nth-child(4) {
  background: url(../Images/fzfw_3df0829.jpg) no-repeat;
}
body .typeArea .contentPortion .slideshow .slideshowbox > li:nth-child(5) {
  background: url(../Images/dfwt_ee0ffa2.jpg) no-repeat;
}
body .typeArea .contentPortion .slideshow .slideshowbox > li:nth-child(6) {
  background: url(../Images/mhca_e9ec070.jpg) no-repeat;
}
body .typeArea .contentPortion .slideshow .slideshowbox > li:nth-child(7) {
  background: url(../Images/fmsj_b299745.jpg) no-repeat;
}
body .typeArea .contentPortion .slideshow .slideshowbox > li:nth-child(8) {
  background: url(../Images/gszt_2748a5f.jpg) no-repeat;
}
body .typeArea .contentPortion .slideshow .slideshowbox > li:nth-child(9) {
  background: url(../Images/tyym_39ab1e9.jpg) no-repeat;
}
body .typeArea .contentPortion .slideshow .slideshowbox > li:nth-child(10) {
  background: url(../Images/yljn_1c4df36.jpg) no-repeat;
}
body .typeArea .contentPortion .slideshow .indicatorarrow {
  width: 100%;
  height: 100%;
}
body .typeArea .contentPortion .slideshow .indicatorarrow .indicatorarrowLeft {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
body .typeArea .contentPortion .slideshow .indicatorarrow .indicatorarrowRight {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
body .typeArea .contentPortion .slideshow .indicatorarrow .turnoff {
  position: absolute;
  top: 10%;
  right: 10%;
  animation: turnoffkey 5s infinite linear;
}
@keyframes turnoffkey {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body .typeArea .contentPortion .cloud {
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 6;
  position: relative;
}
body .typeArea .contentPortion .cloud .yuntop {
  position: absolute;
  top: 0px;
  left: 1900px;
  animation: yuntop 35s infinite linear;
}
@keyframes yuntop {
  from {
    left: 1900px;
  }
  to {
    left: -1200px;
  }
}
body .typeArea .contentPortion .cloud .yunmiddle {
  position: absolute;
  top: 0px;
  left: 1700px;
  animation: yunmiddle 40s infinite linear;
}
@keyframes yunmiddle {
  from {
    left: 1700px;
  }
  to {
    left: -730px;
  }
}
body .typeArea .contentPortion .cloud .yunbottom {
  position: absolute;
  bottom: 0px;
  left: 1900px;
  animation: yunbottom 30s infinite linear;
}
@keyframes yunbottom {
  from {
    left: 1900px;
  }
  to {
    left: -1900px;
  }
}
