body {
    background: url(../Images/bg_a1acca9.jpg) no-repeat;
    overflow: hidden;

    .typeArea {

        .header {
            height: 50px;
            width: 100%;
            margin-top: 10px;
            position: relative;
            opacity: 0;
            z-index: 5;
    
            .logo {
                a {
                    height: 122px;
                    width: 175px;
                    background: url(../Images/175.webp) center center;
                    position: absolute;
                    top: -100px;
                    left: 50%;
                    transform: translateX(-50%);
                    opacity: 0;
                }
            }
    
            ul{
                float: right;
                line-height: 50px;
                
                li {
                    float: left;
                    margin-right: 12px;
                    &:nth-child(1)>a {
                        display: block;
                        width: 22px;
                        height: 22px;
                        background: url(../Images/top_bar_z_370eeac.png) no-repeat ;
                        background-position: -247px -152px;
                        margin-top: 15px;
                        animation: musickey 5s infinite linear;
                        transform-origin: center;
                    }
    
                    @keyframes musickey {
                        from {
                            transform: rotate(0deg);
                        }
    
                        to {
                            transform: rotate(360deg);
                        }
                    }
                    
                    &:nth-child(2) {
                        i{
                            display: inline-block;
                            width: 22px;
                            height: 22px;
                            background: url(../Images/top_bar_z_370eeac.png) no-repeat ;
                            background-position: -201px -203px;
                            vertical-align: text-bottom;
                        }
                        span{
                            margin-left: 5px;
                            font-size: 20px;
                        }
                        &:hover{
                            span{
                                color: #f3f0e9;
                            }
                        }
                    }
                    &:nth-child(3) {
                        margin-top: 10px;
                    }
                    &:nth-child(4)>a {
                        display: block;
                        width: 36px;
                        height: 36px;
                        background: url(../Images/top_bar_z_370eeac.png) no-repeat ;
                        background-position: -243px -110px;
                        margin-top: 7px;
                        transition: all .25s;
                        &:hover{
                            background-position: -244px -72px;
                        }
                    }
                    &:nth-child(5)>a {
                        display: block;
                        width: 36px;
                        height: 36px;
                        background: url(../Images/top_bar_z_370eeac.png) no-repeat ;
                        background-position: -205px -110px;
                        margin-top: 7px;
                        transition: all .25s;
                        &:hover{
                            background-position: -204px -73px;
                        }
                    }
                    &:nth-child(6)>a {
                        display: block;
                        width: 36px;
                        height: 36px;
                        background: url(../Images/top_bar_z_370eeac.png) no-repeat ;
                        background-position: -167px -110px;
                        margin-top: 6px;
                        transition: all .25s;
                        &:hover{
                            background-position: -166px -75px;
                        }
                    }
                    &:nth-child(7)>a {
                        display: block;
                        width: 110px;
                        height: 35px;
                        background: url(../Images/top_bar_z_370eeac.png) no-repeat ;
                        background-position: -7px -235px;
                        margin-top: 8px;
                        transition: all .25s;
                        &:hover{
                            background-position: -124px -235px;
                        }
                    }
                    &:nth-child(8) {
                        a {
                            .inner-1{
                                width: 38px;
                                height: 32px;
                                background: url(../Images/top_bar_z_370eeac.png) no-repeat ;
                                background-position: -166px -151px;
                                margin-top: 10px;
                                transition: all .25s;
                                position: relative;
                                .text-tieba{
                                    width: 48px;
                                    color: #e9e8e0;
                                    font-size: 12px;
                                    position: absolute;
                                    top: 15px;
                                    right: -2px;
                                    display: none;
                                }
                                &:hover{
                                    background-position: -206px -151px;
                                }
                            }
                        }
                    }
                    &:nth-child(9) {
                        a {
                            .inner-2{
                                width: 37px;
                                height: 35px;
                                background: url(../Images/top_bar_z_370eeac.png) no-repeat ;
                                background-position: -204px -35px;
                                margin-top: 8px;
                                transition: all .25s;
                                position: relative;
                                .text-luntan{
                                    width: 48px;
                                    color: #e9e8e0;
                                    font-size: 12px;
                                    position: absolute;
                                    top: 17px;
                                    right: -7px;
                                    display: none;
                                }
                                &:hover{
                                    background-position: -165px -35px;
                                }
                            }
                        }
                    }
                    &:nth-child(10) {
                        margin-top: 10px;
                    }
                    &:nth-child(11) {
                        position: relative;
                        i{
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            background: url(../Images/top_bar_z_370eeac.png) no-repeat ;
                            background-position: -225px -204px;
                            vertical-align: text-bottom;
                        }
                        >a>span{
                            margin-left: 5px;
                            font-size: 20px;
                        }
                        .share-bar{
                            width: 198px;
                            height: 26px; 
                            background: url(../Images/top_bar_z_370eeac.png) no-repeat;
                            background-position: 0px -204px;
                            position: absolute;
                            top: 50px;
                            right: 0px;
                            text-align: center;
                            line-height: 20px;
                            display: none;
                            >a{
                                font-size: 25px;
                                margin-left: 10px;
                                &:first-child {
                                    margin-left: 0px;
                                }
                                &:hover{
                                    color: #f3f0e9;
                                }
                            }
                        }
                        &:hover{
                            >a>span{
                                color: #f3f0e9;
                            }
                        }
                    }
                }
            }
            .QRcode-wx,
            .QRcode-wb,
            .QRcode-yx,
            .QRcode-qq {
                box-sizing: border-box;
                padding: 0 10px;
                width: 156px;
                height: 195px;
                background: url(../Images/top_bar_z_370eeac.png) no-repeat;
                background-position: -5px 0px;
                img{
                    margin-top: 20px;
                }
                h4{
                    margin-top: 5px;
                }
            }
            .QRcode-wx{
                position: absolute;
                top: 50px;
                right: 358px;
                display: none;
            }
            .QRcode-wb{
                position: absolute;
                top: 50px;
                right: 310px;
                display: none;
            }
            .QRcode-yx{
                position: absolute;
                top: 50px;
                right: 260px;
                display: none;
            }
            .QRcode-qq{
                position: absolute;
                top: 50px;
                right: 175px;
                display: none;
            }
        }
        .bg{
            width: 969px;
            height: 1200px;
            // background: url(../Images/ri_634a8e7.png);
            margin: -250px auto 0;
            .circle { width: 200px; height: 200px; position: absolute; top: 50%; left: 50%; margin: -100px 0 0 -100px;}
            .circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .center { position: absolute; left: 50%; top: 50%; margin: -30px 0 0 -30px; width: 60px; height: 60px; border-radius: 50%; background-color: rgba(255, 255, 255, 0.2); opacity:0;}
            .center { position: absolute; left: 50%; top: 50%; margin: -35px 0 0 -35px; width: 0px; height: 0px; border-radius: 0px; text-align: center; line-height: 70px; color: #EAEAEA; font-size: 16px;}
            .circle1 {animation: circle 9s linear 1s infinite; }
            .circle2 {animation: circle 9s linear 1.8s infinite; }
            .circle3 {animation: circle 9s linear 3s infinite; }
             @keyframes circle {
             from {
             opacity:1;
            transform:scale(0);
            }
             to {
             opacity:0;
            transform:scale(35);
            }
            }
        }
    
        .lefttree{
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: -10;
        }
    
        .righttree{
            position: fixed;
            top: 0px;
            right: 0px;
            z-index: -10;
        }
    
        .arrowsdow{
            a{
            width: 65px;
            height: 33px;
            background: url(../Images/index_z_40850eb.png);
            background-position: -91px -265px;
            position: fixed;
            bottom: 10px;
            left: 50%;
            margin-left: -32.5px;
            animation: arrowsdowkey .5s infinite alternate linear;
            transform-origin: center;
            opacity: 0;
            z-index: 5;
            }
    
            @keyframes arrowsdowkey {
                from {
                    transform: translateY(0);
                }
    
                to {
                    transform: translateY(-10px);
                }
            }
        }
    
        .arrowsdow-up{
            display: none;
            a{
            width: 57px;
            height: 57px;
            background: url(../Images/index_z_40850eb.png);
            background-position: -405px -204px;
            position: fixed;
            bottom: 10px;
            left: 50%;
            margin-left: -28.5px;
            animation: arrowsdow-upkey .5s infinite alternate linear;
            transform-origin: center;
            z-index: 5;
            }
    
            @keyframes arrowsdow-upkey {
                from {
                    transform:  scale(.8);
                }
    
                to {
                    transform:  scale(1);
                }
            }
        }
    
        .leftbottom{
            width: 150px;
            height: 200px;
            background: url(../Images/side_btn_arrow_7976565.png) no-repeat;
            background-position: left;
            background-size: contain;
            position: fixed;
            bottom: 0px;
            left: 0px;
            opacity: 0;
            z-index: 5;
            .reguluslegends{
                position: absolute;
                top: 63px;
                right: 300px;
            }
    
            .staryao{
                position: absolute;
                top: 110px;
                right: 300px;
            }
        }
    
        .contentPortion{
            width: 100%;
            height: 100%;
            // background: url(../Images/bg1_48ceae1.jpg);
            // background-color: rgba(0, 0, 0,.5);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 4;

            #figure{
                width: 1300px;
                height: 525px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-45%);
                display: flex;
                justify-content: space-around;
                .flip-container{
                    opacity: 0;
                    perspective:1000px;
                    width:133px;
                    height:525px;
                    cursor: pointer;
                    
                    transition:0.8s;
                    transform-style:preserve-3d;
                    position:relative;

                    .front,.back {
                        position:absolute;
                    }
                    .front {
                        backface-visibility: hidden;
                    }
                    .back {
                        transform:rotateY(180deg);
                    }
                    
                    &:hover {
                        transform:rotateY(180deg);
                    }

                }
            }

            .bigwallpaper{
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 6;
                display: none;
                opacity:0;
                li{
                    opacity:0;
                }
                .bashufengguang{
                    position: absolute;
                    top: 538px;
                    left: 454px;
                    
                @keyframes bigwallpaperkey {
                    from {
                        transform: scale(.9);
                    }
                
                    to {
                        transform: scale(1.1);
                    }
                }
                    a{
                        .bashufengguang-1{
                            position: absolute;
                            top: -24px;
                            left: 294px;
                            display: none;
                            opacity:0;
                        }
                    }
                    }
                .yunduanxianguan{
                    position: absolute;
                    top: 81px;
                    left: 147px;
                    
                @keyframes bigwallpaperkey {
                    from {
                        transform: scale(.9);
                    }
                
                    to {
                        transform: scale(1.1);
                    }
                }
                    a{
                        .yunduanxianguan-1{
                            position: absolute;
                            top: 33px;
                            left: 358px;
                            display: none;
                            opacity:0;
                        }
                    }
                    }
                .xieyangwanzhao{
                    position: absolute;
                    top: 337px;
                    left: 338px;
                    
                @keyframes bigwallpaperkey {
                    from {
                        transform: scale(.9);
                    }
                
                    to {
                        transform: scale(1.1);
                    }
                }
                    a{
                        .xieyangwanzhao-1{
                            position: absolute;
                            top: -29px;
                            left: 194px;
                            display: none;
                            opacity:0;
                        }
                    }
                    }
                .fuzhoufengwan{
                    position: absolute;
                    top: 601px;
                    left: 250px;
                    
                @keyframes bigwallpaperkey {
                    from {
                        transform: scale(.9);
                    }
                
                    to {
                        transform: scale(1.1);
                    }
                }
                    a{
                        .fuzhoufengwan-1{
                            position: absolute;
                            top: -24px;
                            left: 195px;
                            display: none;
                            opacity:0;
                        }
                    }
                    }
                .shenshangucha{
                    position: absolute;
                    top: 205px;
                    left: 595px;
                    
                @keyframes bigwallpaperkey {
                    from {
                        transform: scale(.9);
                    }
                
                    to {
                        transform: scale(1.1);
                    }
                }
                    a{
                        .shenshangucha-1{
                            position: absolute;
                            top: -52px;
                            left: 261px;
                            display: none;
                            opacity:0;
                        }
                    }
                    }
                .menghuichangan{
                    position: absolute;
                    top: 331px;
                    left: 939px;
                    
                @keyframes bigwallpaperkey {
                    from {
                        transform: scale(.9);
                    }
                
                    to {
                        transform: scale(1.1);
                    }
                }
                    a{
                        .menghuichangan-1{
                            position: absolute;
                            top: -19px;
                            left: 189px;
                            display: none;
                            opacity:0;
                        }
                    }
                    }
                .yanyushanmi{
                    position: absolute;
                    top: 512px;
                    left: 1138px;
                    
                @keyframes bigwallpaperkey {
                    from {
                        transform: scale(.9);
                    }
                
                    to {
                        transform: scale(1.1);
                    }
                }
                    a{
                        .yanyushanmi-1{
                            position: absolute;
                            top: -21px;
                            left: -594px;
                            display: none;
                            opacity:0;
                        }
                    }
                    }
                .guishenzhita{
                    position: absolute;
                    top: 100px;
                    left: 1150px;
                    
                @keyframes bigwallpaperkey {
                    from {
                        transform: scale(.9);
                    }
                
                    to {
                        transform: scale(1.1);
                    }
                }
                    a{
                        .guishenzhita-1{
                            position: absolute;
                            top: 38px;
                            left: -565px;
                            display: none;
                            opacity:0;
                        }
                    }
                    }
                .taoyuanyoumeng{
                    position: absolute;
                    top: 595px;
                    left: 853px;
                    
                @keyframes bigwallpaperkey {
                    from {
                        transform: scale(.9);
                    }
                
                    to {
                        transform: scale(1.1);
                    }
                }
                    a{
                        .taoyuanyoumeng-1{
                            position: absolute;
                            top: -24px;
                            left: 208px;
                            display: none;
                            opacity:0;
                        }
                    }
                    }
                .guyunyangzhou{
                    position: absolute;
                    top: 236px;
                    left: 1230px;
                    
                @keyframes bigwallpaperkey {
                    from {
                        transform: scale(.9);
                    }
                
                    to {
                        transform: scale(1.1);
                    }
                }
                    a{
                        .guyunyangzhou-1{
                            position: absolute;
                            top: -3px;
                            left: -580px;
                            display: none;
                            opacity:0;
                        }
                    }
                }
            }

            .slideshow {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0,.5);
                position: absolute;
                z-index: 10;
                display: none;
                .slideshowbox{
                    width: 1500px;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    background-color: #fff;
                    >li{
                        width: 1500px;
                        height: 100%;
                        position: absolute;
                        >img{
                            position: absolute;
                            bottom: 10%;
                            left: 10%;
                        }
                        &:nth-child(1){
                            background: url(../Images/bsfg_84da809.jpg) no-repeat ;
                        }
                        &:nth-child(2){
                            background: url(../Images/ydxg_e80b714.jpg) no-repeat ;
                        }
                        &:nth-child(3){
                            background: url(../Images/swmy_0a5cdc9.jpg) no-repeat ;
                        }
                        &:nth-child(4){
                            background: url(../Images/fzfw_3df0829.jpg) no-repeat ;
                        }
                        &:nth-child(5){
                            background: url(../Images/dfwt_ee0ffa2.jpg) no-repeat ;
                        }
                        &:nth-child(6){
                            background: url(../Images/mhca_e9ec070.jpg) no-repeat ;
                        }
                        &:nth-child(7){
                            background: url(../Images/fmsj_b299745.jpg) no-repeat ;
                        }
                        &:nth-child(8){
                            background: url(../Images/gszt_2748a5f.jpg) no-repeat ;
                        }
                        &:nth-child(9){
                            background: url(../Images/tyym_39ab1e9.jpg) no-repeat ;
                        }
                        &:nth-child(10){
                            background: url(../Images/yljn_1c4df36.jpg) no-repeat ;
                        }
                    }
                }
                .indicatorarrow{
                    width: 100%;
                    height: 100%;
                    .indicatorarrowLeft{
                        position: absolute;
                        top: 50%;
                        left: 0px;
                        transform: translateY(-50%);
                    }
                    .indicatorarrowRight{
                        position: absolute;
                        top: 50%;
                        right: 0px;
                        transform: translateY(-50%);
                    }
                    .turnoff{
                        position: absolute;
                        top: 10%;
                        right: 10%;
                        animation: turnoffkey 5s infinite linear;
                    }
    
                    @keyframes turnoffkey {
                        from {
                            transform: rotate(0deg);
                        }
    
                        to {
                            transform: rotate(360deg);
                        }
                    }
                }
            }
            
            .cloud {
                pointer-events:none;
                width: 100%;
                height: 100%;
                z-index: 6;
                position: relative;
                .yuntop{
                    position: absolute;
                    top: 0px;
                    left: 1900px;
                    animation: yuntop 35s infinite linear;
                    @keyframes yuntop {
                        from{
                            left: 1900px;
                        }
                        to{
                            left: -1200px;
                        }
                    }
                }
                .yunmiddle{
                    position: absolute;
                    top: 0px;
                    left: 1700px;
                    animation: yunmiddle 40s infinite linear;
                    @keyframes yunmiddle {
                        from{
                            left: 1700px;
                        }
                        to{
                            left: -730px;
                        }
                    }
                }
                .yunbottom{
                    position: absolute;
                    bottom: 0px;
                    left: 1900px;
                    animation: yunbottom 30s infinite linear;
                    @keyframes yunbottom {
                        from{
                            left: 1900px;
                        }
                        to{
                            left: -1900px;
                        }
                    }
                }
            }
        }
    }
}

